/* CSS Reset */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle;padding:0;}div.cleared{clear:both;}a,input,button,select,textarea,textarea:focus,input:focus{outline:none;border-radius:0;}button::-moz-focus-inner{border:none;}html {-webkit-text-size-adjust:100%;}

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
		 url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Light.otf')  format('opentype'),
		 url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf')  format('truetype'), url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
		 url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Semibold.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'), url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Black';
  src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Black.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Black.woff') format('woff'), url('../fonts/ProximaNova-Black.ttf')  format('truetype'), url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf')  format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),	url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf')	format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Extrabold';
	src: url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),	url('../fonts/OpenSans-Extrabold.woff') format('woff'), url('../fonts/OpenSans-Extrabold.ttf')	format('truetype'), url('../fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans-CaptionBold';
	src: url('../fonts/PTSans-CaptionBold.eot?#iefix') format('embedded-opentype'),	url('../fonts/PTSans-CaptionBold.woff') format('woff'), url('../fonts/PTSans-CaptionBold.ttf')	format('truetype'), url('../fonts/PTSans-CaptionBold.svg#PTSans-CaptionBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans-Bold';
	src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),	url('../fonts/PTSans-Bold.woff') format('woff'), url('../fonts/PTSans-Bold.ttf')	format('truetype'), url('../fonts/PTSans-Bold.svg#PTSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

b, strong {
	font-family: 'ProximaNova-Bold';
	font-weight: normal;
}

h1, h2, h3 {
	font-weight: normal;
}

button.dark {
	font-family: 'ProximaNova-Semibold';
	font-size: 11px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #7f7f7f;
	height: 55px;
	padding: 0 40px;
	background: #232323;
	border: none;
	cursor: pointer;
}
button.dark:hover {
	background: #333;
}
button.light {
	font-family: 'ProximaNova-Semibold';
	font-size: 11px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #2c2c2c;
	border: 2px solid #2c2c2c;
	background: transparent;
	height: 60px;
	padding: 0 40px;
	cursor: pointer;
}
button.light:hover {
	background: #2c2c2c;
	color: #eee;
}
button.transp {
	font-family: 'OpenSans-Extrabold';
	font-size: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #d5b67c;
	height: 54px;
	padding: 0 24px;
	background: none;
	border: 2px solid #d5b67c;
	cursor: pointer;
}
button.transp:hover {
	color: #fff;
	background: #d5b67c;	
}
button:active {
	padding-top: 2px;
}

body {
	font-family: 'ProximaNova-Regular';
	font-size: 15px;
	color: #353535;
	max-width: 100%;
    min-width: 320px;
}

.wrap {
	width: 978px;
	margin: auto;
	max-width: 100%;
    min-width: 320px;
	box-sizing: border-box;
}
.wrap.wide {
	width: 1280px;
}

#top {
	background: #2c2c2c;
	padding: 13px 0;
}
#top .wrap {
	text-align: right;
}
#top .phone {	
	border-right: 1px solid #73624d;
	padding-right: 13px;
}
#top .phone a {
	font-size: 11px;
	color: #a2a2a2;
	letter-spacing: 0.075em;
	text-decoration: none;
}
#top .lang a {
	font-size: 11px;
	color: #828282;
	letter-spacing: 0.075em;
	text-decoration: none;
	text-transform: uppercase;
}
#top .lang {
	padding-left: 11px;
}
#top .phone, #top .lang {
	line-height: 11px;
	display: inline-block;
}

#header .logo {
	padding-top: 24px;
	float: left;
}
#header .logo img, #footer .logo img {
	width: 206px;
	height: 70px;
}
#header .menu {
	float: right;
	margin-right: -20px;
}
#header .menu li {
	display: inline-block;
	height: 120px;
	box-sizing: border-box;
	padding-top: 58px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 15px;
}
#header .menu li.active {
	border-bottom: 5px solid #e3e3e3;
}
#header .menu li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #7e7e7e;
	letter-spacing: 0.075em;
}
#header .menu li a:hover {
	color: #2c2c2c;
}
#header .menu li.active a {
	color: #c9a86a;
	font-family: 'ProximaNova-Semibold';
}

.bx-wrapper {
	margin: 0 !important;
}
.bx-wrapper .bx-viewport {
	border: none !important;
	background: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
    left: 0 !important;
}
#banner {
	position: relative;
}
#banner li {
	height: 604px;
	background: url('../img/banner.jpg') no-repeat center -196px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}
#banner p {
	font-family: 'ProximaNova-Bold';
	font-size: 30px;
	letter-spacing: 0.075em;
	padding-top: 272px;
}
#banner h1 {
	font-family: 'ProximaNova-Black';
	font-size: 100px;
	letter-spacing: 0.075em;
	padding-top: 40px;
}
#banner .arr {
	width: 15px; height: 8px;
	background: url('../img/arr-down.png') no-repeat;
	position: absolute;
	left: 0; right: 0; bottom: 30px;
	margin: auto;
}
#banner.inner li {
	height: 435px;
}
#banner.small li {
	height: 350px;
}
#banner.inner p {
	padding-top: 170px;
}
#banner.small p {
	padding-top: 100px;
}
#banner.inner .arr {
	bottom: 20px;
}
#banner.inner.walton li {
	background: url('../img/walton.jpg') no-repeat center 0;
}
#banner.inner.cocowell li {
	background: url('../img/cocowell.jpg') no-repeat center 0;
}
#banner.inner.atrade li {
	background: url('../img/atrade.jpg') no-repeat center 0;
}
#banner.inner.bimicon li {
	background: url('../img/bimicon.jpg') no-repeat center 0;
}
#banner.small.portfolio li {
	background: url('../img/portfolio.jpg') no-repeat center 0;
}
#banner.small.contacts li {
	background: url('../img/contacts.jpg') no-repeat center 0;
}
#banner.small.services li {
	background: url('../img/services.jpg') no-repeat center 0;
}

#unser {
	height: 425px;
	background: url('../img/unser.jpg') no-repeat center center;
	display: table;
	width: 100%;
}
#unser .wrap {
	display: table-cell;
	vertical-align: middle;
}
#unser h1 {
	font-family: 'PTSans-CaptionBold';
	color: #fff;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0.2em;
}

#offer  {
	padding-top: 100px;
	padding-bottom: 170px;
}
#offer .item {
	padding-top: 22px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 70px;
}
#offer .item:after {
	content: '';
	position: absolute;
	left: 0; top: 0;
	width: 20px; height: 2px;
	background: #d5b67c;
}
#offer .item p b {
	font-size: 24px;
	text-transform: uppercase;
}
#offer .item ul {
	margin-top: 20px;
}
#offer .item li {
	font-family: 'ProximaNova-Light';
	color: #7e7e7e;
	line-height: 24px;
	list-style: none;
}

#teaser {
	background: #ebebeb;
	position: relative;
}
#teaser .img {
	position: absolute;
	width: 668px; height: 800px;
	top: -200px; left: -127px;
	background: url('../img/teaser.png') no-repeat;
}
#teaser .cont {
	float: right;
    width: 655px;
	padding-bottom: 180px;
}
#teaser p.sub {
	font-family: 'ProximaNova-Bold';
	font-size: 16px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	padding-top: 85px;
	padding-bottom: 25px;
	position: relative;
}
#teaser p.sub:after {
	content: '';
	position: absolute;
	left: 0; bottom: 0;
	width: 20px; height: 2px;
	background: #d5b67c;
}
#teaser h1 {
	font-family: 'ProximaNova-Semibold';
	font-size: 36px;
	margin-top: 45px;
}
#teaser p.col {
	font-family: 'ProximaNova-Light';
	line-height: 26px;
	opacity: 0.8;
	width: 48%;
	margin-top: 30px;
	display: inline-block;	
	vertical-align: top;
}
#teaser p.col:last-child {
	margin-left: 2%;
}

#clients {
	background: #2c2c2c;
	padding-top: 100px;
	padding-bottom: 70px;
	margin-bottom: 100px;
	text-align: center;
}
#clients .item {
    display: inline-block;
    vertical-align: middle;
	margin-right: 27px;
	margin-bottom: 30px;	
}
#clients .item:last-child {
	margin-right: 0;
}

#gallery {
	margin-bottom: 100px;
}
#gallery .cont {
	position: relative;
}
#gallery .img {
	float: left;
	margin-bottom: 19px;
	width: 31%;
	margin-right: 1.5%;
	position: relative;
}
#gallery .img :before {
	background: url('../img/plus.png') no-repeat;
}
#gallery .img.wide {
	width: 63.5%;
}
#gallery .img.noright {
	margin-right: 0;
}
#gallery .img.movetop {
	position: absolute;
	left: 0; bottom: 0;
}
#gallery .img img {
	display: block;
	width: 100%;
}
#gallery .img .over {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
	background: rgba(213,182,124,0.8);
	display: none;
	/*transition: 0.2s;*/
}
#gallery .img:hover .over {
	display: block;
}
#gallery .img .over .project {
	color: #fff;
	text-align: center;
	height: 133px;
	position: absolute;
	top: 0; bottom: 0;
	width: 100%;
	margin: auto;
	padding: 0 10px;
	box-sizing: border-box;
}
#gallery .img .over .project .plus {
	width: 49px; height: 49px;
	background: url('../img/plus.png') no-repeat;
	margin: auto;
}
#gallery .img .over .project .name {	
	font-family: 'ProximaNova-Bold';
	font-size: 16px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	margin-top: 39px;
	margin-bottom: 15px;
}
#gallery .img .over .project .cat {
	font-size: 14px;
}

#anchors {
	font-family: 'OpenSans-Extrabold';
	text-align: center;
	color: #2c2c2c;
}
#anchors h1 {	
	font-size: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	padding-top: 90px;
}
#anchors li {
	display: inline-block;
	box-sizing: border-box;
	padding: 16px 29px;
	border: 2px solid transparent;
	margin-top: 58px;
}
#anchors li a {
	color: #2c2c2c;
	font-size: 13px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
}
#anchors li:hover {
	border: 2px solid #d5b67c;
}
#anchors li:hover a {
	color: #d5b67c;
}

#item1 {
	padding-top: 80px;
}
.wrap.caption {
	color: #2c2c2c;
	line-height: 30px;
}
.wrap.caption h2 {
	font-family: 'OpenSans-Extrabold';
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	float: left;
}
.wrap.caption p {
	font-family: 'OpenSans-Bold';
	font-size: 15px;	
	letter-spacing: 0.1em;
	width: 718px;
	float: right;
	margin-right: 35px;
}
#item1 .back-top {
	background: url('../img/item1_top.jpg') no-repeat center 0;
	/*background: url('../img/item1.png') no-repeat center 0; */ /* Quality But Size */
	text-align: center;
	margin-top: 110px;
	padding-top: 679px;
}
#item1 .back-bottom {
	background: url('../img/item1_bottom.jpg') no-repeat center bottom;
	margin-bottom: 160px;
}
#item1 .img:not(.last) {
	margin-bottom: 80px;
}
#item1 .img img {
	max-width: 94%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25); 
	-webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25); 
	box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 20px;
}
#item1 .img.last img {
	margin-bottom: -49px;
}

#item2 .back {
	background: url('../img/item2.jpg') no-repeat center 0;
	height: 609px;
	margin-top: 110px;
}

#item3 {
	padding-top: 40px;
}
#item3 .back {
	background: url('../img/item3.jpg') no-repeat center 0;
	height: 800px;
	margin-top: 110px;
}

#contacts {
	background: #2c2c2c;
	color: #c8c8c8;
	text-align: center;
	overflow: hidden;
}
#contacts .wrap {
	position: relative;
}
#contacts h1 {
	font-family: 'OpenSans-Extrabold';
	font-size: 145px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #73624d;
	line-height: 41px;
	height: 180px;
	margin-bottom: 80px;
	position: relative;
}
#contacts h1:after {
	content: '';
	position: absolute;
	width: 83px; height: 2px;
	background: #caad77;
	left: 0; right: 0; bottom: 0;
	margin: auto;
}
#contacts p {
	font-family: 'PTSans-Bold';
	font-size: 26px;
	line-height: 55px;
	letter-spacing: 0.1em;
}
#contacts p a {
	color: #c8c8c8;
	text-decoration: none;
}
#contacts p a:hover {
	color: #999;
}
#contacts .button {
	margin-top: 60px;
}
#contacts .top {
	position: absolute;
	right: 0; bottom: 19px;
}
#contacts .top a {
	font-family: 'OpenSans-Extrabold';
	color: #747474;
	font-size: 13px;
	text-transform: uppercase;	
	text-decoration: none;
}
#contacts .top a:hover {
	color: #555;
}

#headings {
	text-align: center;
}
#headings p.sub {
	font-family: 'ProximaNova-Bold';
	font-size: 16px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	padding-top: 95px;
	padding-bottom: 22px;
	position: relative;
}
#headings p.sub:after {
	content: '';
	position: absolute;
	bottom: 0; left: 0; right: 0;
	margin: auto;
	height: 2px; width: 20px;
	background: #d5b67c;
}
#headings h1 {
	font-family: 'ProximaNova-Semibold';
	font-size: 36px;
	line-height: 45px;
	padding-top: 45px;
	padding-bottom: 45px;
}
#headings p.desc {
	color: #232323;
	font-family: 'ProximaNova-Light';
	font-size: 18px;
	line-height: 24px;
	width: 570px;
	max-width: 100%;
	margin: -20px auto 20px;
}
.border-menu {
	display: inline-block;
	padding-bottom: 13px;
	border-bottom: 1px solid #d4d4d4;	
}
#headings .border-menu {
	margin-bottom: 40px;
}
.border-menu li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 20px;
	border-right: 1px solid #d4d4d4;
}
.border-menu li:first-child {
	padding-left: 7px;
}
.border-menu li:last-child {
	border-right: none;
	padding-right: 7px;
}
.border-menu li a {
	font-family: 'ProximaNova-Bold';
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	color: #353535;
	text-decoration: none;
}
.border-menu li.active a, .border-menu li a:hover {
	color: #c9a86a;
}
#headings .text {
	margin-bottom: 65px;
}
#headings .text .item {
	font-family: 'ProximaNova-Light';
	font-size: 15px;
	line-height: 26px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 38%;
	margin: 0 2%;
}

#picture, #picture2 {	
	height: 600px;
}
#picture2 {
	margin-top: 110px;
}
#picture.walton {
	background: url('../img/picture-walton.jpg') no-repeat center 0;
}
#picture.cocowell {
	background: url('../img/picture-cocowell.jpg') no-repeat center 0;
}
#picture.atrade {
	background: url('../img/picture-atrade.jpg') no-repeat center 0;
}
#picture.bimicon {
	background: url('../img/picture-bimicon.jpg') no-repeat center 0;
}
#picture2.bimicon {	
	background: url('../img/picture2-bimicon.jpg') no-repeat center 0;
}

#walton {
	text-align: center;
	padding-top: 140px;
	padding-bottom: 140px;
}
#walton img {
	max-width: 100%;
}

#brandbook {
	background: url('../img/brandbook.jpg') no-repeat center 0;
	height: 1623px;
}
#brandbook img {
	max-width: 100%;
	display: none;
}
#brandbook img.all {
	display: inline;
	visibility: hidden;
}

#colors {
	text-align: center;
	padding-top: 115px;
	padding-bottom: 120px;
}
#colors .item {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	margin: 0 45px;
	color: #2c2c2c;
	text-align: left;
}
#colors .item .color {
	width: 150px; height: 150px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float: left;
	margin-right: 60px;
}
#colors .item .color.gray {
	background: #58585a;
}
#colors .item .color.blue {
	background: #0077c1;
}
#colors .item .color.green {
	background: #8bb830;
}
#colors .item .color.orange {
	background: #fd7400;
}
#colors .item p {
	font-family: 'ProximaNova-Semibold';
	font-size: 17px;
	line-height: 24px;
	letter-spacing: 0.1em;
	margin-bottom: 40px;
}
#colors .item p b {
	letter-spacing: 0.075em;
	text-transform: uppercase;
	display: inline-block;
	padding-bottom: 13px;
	padding-right: 33px;
	border-bottom: 2px solid #d4d4d4;
}

#images {
	text-align: center;
	overflow: hidden;
}
#images .img1 {
	background: url('../img/img1.jpg') no-repeat center 0;
	height: 600px;
}
#images .img1 img {
	display: inline;
	visibility: hidden;
}
#images .img2 {	
	background: url('../img/img2.jpg') no-repeat center 0;
	height: 600px;
	margin-top: 18px;
}
#images img {
	display: none;
	max-width: 100%;
}

#stand {
	background: url('../img/stand.jpg') no-repeat center bottom;
	height: 2372px;
	text-align: center;
	margin-left: -35px;
	overflow: hidden;
}
#stand img.all {
	visibility: hidden;
}

#character {
	text-align: center;
	padding-top: 135px;
	overflow: hidden;
}
#character .img {
	padding-top: 45px;
	padding-bottom: 135px;
}
#character .img img {
	max-width: 100%;
}

#cocowell-link {
	background: url('../img/cocowell-link.jpg') no-repeat center 0;
	height: 600px;
}

#webpage {
	text-align: center;
	padding-top: 130px;
}
#webpage img {
	max-width: 100%;
	vertical-align: top;
}
#webpage img:not(:last-child) {
	margin-bottom: 100px;
}

#planes {
	margin-top: 100px;
	height: 228px;
	background: url('../img/planes.jpg') no-repeat center 0;
}

#plates {	
	margin-top: 140px;
	margin-bottom: 80px;
}
#plates.atrade {
	background: url('../img/atrade-plates.jpg') no-repeat center 0;
	height: 609px;
}
#plates.bimicon {
	background: url('../img/bimicon-plates.jpg') no-repeat center 0;
	height: 704px;
}

#cocowell-back {
	background: url('../img/cocowell-back.jpg') no-repeat center bottom;
	height: 1660px;
}

#form {
	width: 640px;
	max-width: 90%;
	margin: 50px auto 55px;
}
#form input, #form  textarea {
	border: none;
	border-bottom: 2px solid #bdbdbd;
	color: #353535;
	font-size: 13px;
	letter-spacing: 0.075em;
	font-family: 'ProximaNova-Bold';
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 20px;
	overflow: hidden;
}
#form .name, #form .mail  {
	width: 48%;
}
#form .mail  {
	float: right;
}
#form .subj, #form textarea {
	width: 100%;
}
#form textarea { 
	height: 160px;
}
#form ::-webkit-input-placeholder {
	color: #353535;
	opacity: 1;
	font-family: 'ProximaNova-Bold';
	text-transform: uppercase;
}
#form :-moz-placeholder { /* Firefox 18- */
	color: #353535;
	opacity: 1;
	font-size: 13px;
	font-family: 'ProximaNova-Bold';
	text-transform: uppercase;
}
#form ::-moz-placeholder {  /* Firefox 19+ */
	color: #353535;
	opacity: 1;
	font-size: 13px;
	font-family: 'ProximaNova-Bold';
	text-transform: uppercase;
}
#form :-ms-input-placeholder {  
	color: #353535;
	opacity: 1;
	font-size: 13px;
	font-family: 'ProximaNova-Bold';
	text-transform: uppercase;
}
#form textarea::-webkit-input-placeholder {
	line-height: 250px;
}
#form textarea:-moz-placeholder  {  
	line-height: 250px;
}
#form textarea::-moz-placeholder  {  
	line-height: 250px;
}
#form textarea:-ms-input-placeholder  {  
	line-height: 250px;
}
#form button {
	padding: 0 60px;
	display: block;
	margin: 30px auto auto;
}

#map {
	height: 580px;
}

#numbers {
	text-align: center;
    margin-left: 50px;
    margin-top: -20px;
}
#numbers p {
	font-family: 'ProximaNova-Bold';
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	display: inline-block;
	vertical-align: top;
	margin: 0 40px 25px;
}
#numbers p span {
	font-family: 'ProximaNova-Black';
	font-size: 120px;
	color: #f1f1f1;
	display: block;
	margin-bottom: -49px;
}

#description {
	margin-top: 55px;
	margin-bottom: 70px;
}
#description p {
	font-family: 'ProximaNova-Light';
	font-size: 15px;
	line-height: 26px;
	vertical-align: top;
	margin-left: 190px;
}
#description  p.sub {
	font-family: 'ProximaNova-Bold';
	font-size: 16px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	position: relative;
	float: left;
	margin-left: 0;
}
#description  p.sub:after {
	content: '';
	width: 50px; height: 2px;
	background: #d5b67c;
	position: absolute;
	right: 0; bottom: -12px;
}

#service {
	min-height: 560px;
	background: url('../img/service.jpg') no-repeat center 0;
}
#service .content {
	float: right;
	width: 49%;
}
#service .time {
	font-size: 15px;
	letter-spacing: 0.05em;
	border-top: 3px solid #cfcfcf;
	border-bottom: 3px solid #cfcfcf;
	display: inline-block;
	text-align: center;
	padding: 13px 10px 10px;
	margin-top: 80px;
}
#service .time span {
	font-family: 'ProximaNova-SemiBold';
	font-size: 40px;
	letter-spacing: 0;
	vertical-align: middle;
	margin-right: 5px;
}
#service h1 {
	font-family: 'ProximaNova-SemiBold';
	font-size: 36px;
	margin-bottom: 25px;
    margin-top: 40px;
}
#service p {
	font-family: 'ProximaNova-Light';
	font-size: 14px;
	line-height: 25px;
}
#service button {
	margin-top: 50px;
	margin-bottom: 50px;
}

#footer {
	background: #2c2c2c;
}
#footer .logo {
	padding-top: 63px;
}
#footer .social {
	padding-top: 105px;
	margin-left: 157px;
}
#footer .social .item {
	width: 24px; height: 24px;
	background: #232323;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#footer .phone {
	padding-top: 107px;
	margin-left: 25px;
}
#footer .phone a {
	font-family: 'ProximaNova-light';
	font-size: 20px;
	letter-spacing: 0.075em;
	color: #fff;
	opacity: 0.3;
	text-decoration: none;
}
#footer .callback {
	padding-top: 90px;
	margin-left: 48px;
}
#footer .logo, #footer .social, #footer .phone, #footer .callback {
	display: inline-block;
	vertical-align: top;
}	
#footer .offer {
	padding-top: 57px;
	padding-bottom: 68px;
}
#footer .offer .item {
	padding-top: 22px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 70px;
}
#footer .offer .item:after {
	content: '';
	position: absolute;
	left: 0; top: 0;
	width: 20px; height: 2px;
	background: #70634c;
}
#footer .offer .item p b {
	font-size: 24px;
	text-transform: uppercase;
	color: #6e6e6e;
}
#footer .offer .item ul {
	margin-top: 20px;
}
#footer .offer .item li {
	font-family: 'ProximaNova-Light';
	color: #494949;
	line-height: 24px;
	list-style: none;
}

#copyright {
	background: #232323;
}
#copyright p {
	font-family: 'ProximaNova-Light';
	color: #7f7f7f;
	padding-top: 30px;
	padding-bottom: 28px;
	letter-spacing: 0.075em;
}

@media screen and (min-width: 1900px) {
	#banner li, #unser, #item1 .back-top, #item1 .back-bottom, #item3 .back, #picture, #picture2, #brandbook, #images .img1, #images .img2, #stand, #cocowell-link, #cocowell-back, #service  {
		background-size: 100% auto !important;
	}
	#banner li, #picture, #picture2, #images .img1, #images .img2, #cocowell-link, #cocowell-back, #service  {
		background-position: center center;
	}
	#item3 .back {
		background-position: center bottom;
	}
	#colors {
		background: #fff;
	}
	#stand {
		height: auto;
	}
	#stand img.all {
		width: 100%;
	}
}
@media screen and (min-width: 1520px) {
	#teaser .cont {
		width: 770px;
	}
}
@media screen and (min-width: 1900px) { 
	#teaser .cont {
		width: auto;
	}
}

@media screen and (max-width: 1260px) {
	#teaser .img {
		width: 52%;
		background-size: 100% auto;
		background-position: 0 top;
		top: auto; bottom: 0;
	}
}
@media screen and (max-width: 1018px) {
	.wrap {
		padding: 0 20px;
	}
	#banner .wrap {
		padding: 0;
	}
	#header .menu li {
		padding-left: 10px;
		padding-right: 10px;
	}
	#header .menu { 
		margin-right: -10px;
	}
	#offer .item, #footer .offer .item {
		margin-right: 4%;
	}
	#offer .item:last-child, #footer .offer .item:last-child {
		margin-right: 0;
	}
	#teaser .cont {
		width: 67%;
	}
	#teaser .img {
		height: 700px;
	}
	#teaser .cont {
		padding-bottom: 80px;
	}
	#clients {
		padding-bottom: 30px;
		padding-top: 60px;
	}
	#footer .social {
		margin-left: 40px;
	}
	#footer .callback {
		float: right;
		margin-left: 0;
	}
	.wrap.caption h2 {
		float: none;
	}
	.wrap.caption p {
		float: none;
		width: auto;
		margin-top: 10px;
		margin-right: 0;		
	}
	#item1 .back-top {
		padding-top: 564px;
	}
	#contacts h1 {
		font-size: 88px;
		line-height: 27px;
		height: 143px;
	}
	#contacts .top {
		right: 20px;
	}
	#numbers {
		margin-left: 0;
	}
	#service .time {
		margin-top: 50px;
	}
	#service .content {
		width: 52%;
	}
}
@media screen and (max-width: 960px) {
	#colors .item {
		margin: 0 2%;
		width: 45%;
		max-width: 360px;		
	}
	#colors .item .color {
		margin-right: 9%;
	}
	#images .img1, #images .img2 {
		background-size: 1000px auto;
		height: 300px;
	}
	#images .img2 {
		margin-top: 9px;
	}
}
@media screen and (max-width: 900px) {
	#stand {
		background-size: 1000px auto;
		height: auto;
		margin-left: -18px;
	}
	#stand img.all {
		width: 1000px;
	}
}
@media screen and (max-width: 830px) {
	#top .wrap {
		text-align: center;
	}
	#header .logo {
		float: none;
		text-align: center;
	}
	#header .menu {
		margin-right: 0;
		text-align: center;
		width: 100%;
	}
	#offer {
		padding-bottom: 100px;
	}
	#offer .item, #footer .offer .item {
		margin-left: 10%;
		margin-right: 0;
		width: 37%;
		margin-bottom: 50px;
		text-align: left;
	}
	#teaser p.col {
		width: auto;
	}
	#teaser p.col:last-child {
		margin-left: 0;
	}
	#gallery .img {
		margin-bottom: 12px;
	}
	#gallery .img .over .project {
		height: 113px;
	}
	#gallery .img .over .project .name {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 8px;
		margin-top: 18px;		
	}
	#footer {
		text-align: center;
	}
	#footer .logo {
		display: block;
		padding-top: 40px;
		width: auto;
	}
	#footer .social {
		margin-left: 0;
		padding-top: 45px;
	}
	#footer .phone {
		padding-top: 47px;
	}
	#footer .callback {
		display: block;
		float: none;
		margin-left: 0;
		width: 100%;
		padding-top: 30px;
	}
	#footer .offer {
		padding-bottom: 20px;
	}
	#copyright {
		text-align: center;
	}
	#brandbook {
		background-size: 150% auto;
		height: auto;
	}
	#brandbook img.all {
		width: 150%;
	}
	#colors {
		padding-bottom: 80px;
		padding-top: 100px;
	}
	#colors .item {
		margin: 0 7%;
		text-align: center;
		width: 190px;
	}
	#colors .item .color {
		float: none;
		margin: auto;
	}
	#colors .item p {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	#colors .item p b {
		padding-left: 10px;
		padding-right: 10px;
	}
	#webpage {
		padding-top: 85px;
	}
	#webpage img:not(:last-child) {
		margin-bottom: 40px;
	}
	#cocowell-back {
		background-position: center -80px;
		height: 1530px;
	}
	#banner.atrade h1, #banner.small h1 {
		font-size: 72px;
	}
}
@media screen and (max-width: 710px) {
	#service {
		background: #ebebeb;
	}
	#service:before {
		content: '';
		display: block;
		height: 300px;
		background: url('../img/service.jpg') no-repeat 0 -70px;
		background-size: 1500px auto;
	}
	#service .content {
		width: auto;
	}
}
@media screen and (max-width: 631px) {
	#header .menu {
		margin-top: 30px;
	}
	#header .menu li {
		padding-top: 0;
		padding-bottom: 0;
		height: auto;
		margin-bottom: 20px;
		margin-left: 0;
	}
	#header .menu li.active {
		border: none;
	}
	#banner li, #banner.inner li {
		height: 300px;
		background-position: center -230px;
	}
	#banner.small li {
		height: 250px;		
	}
	#banner.inner li, #banner.small li  {
		background-position: center center !important;
	}
	#banner p, #banner.inner p {
		font-size: 25px;
		padding-top: 100px;
	}
	#banner h1 {
		font-size: 50px;
		padding-top: 25px;
	}
	#banner.atrade p {
		font-size: 20px;
		padding-top: 110px;
	}
	#banner.small p {
		font-size: 20px;
		padding-top: 90px;
	}
	#banner.atrade h1, #banner.small h1 {
		font-size: 35px;
	}
	#offer {
		padding-bottom: 70px;
		padding-top: 30px;
	}
	#offer .item, #footer .offer .item {
		margin-left: 6%;
		width: 42%;
		margin-bottom: 30px;
	}
	#offer .item li, #footer .offer .item li {
		line-height: 17px;
		margin-bottom: 8px;
	}
	#teaser p.sub {
		padding-top: 30px;
	}
	#teaser h1 {
		font-size: 26px;
		margin-top: 30px;
	}
	#teaser p.col {
		margin-top: 20px;
	}
	#teaser .cont {
		padding-bottom: 50px;
	}
	#teaser .img {
		height: 635px;
		left: -75px;
		top: -78px;
		bottom: auto;
	}
	#clients .item {
		margin-left: 5px;
		margin-right: 5px;
	}
	#clients .item img {
		width: 80%;
	}
	#clients {
		padding-bottom: 0;
		padding-top: 30px;
		margin-bottom: 40px;
	}
	#gallery {
		margin-bottom: 40px;
	}
	#gallery .img {
		width: 47%;
		margin-right: 3%;
		margin-bottom: 18px;
	}
	#gallery .img.noright {
		margin-right: 3%;
	}
	#gallery .img.wide {
		width: 97%;
	}
	#gallery .img.movetop {
		position: relative;
	}
	#unser {
		height: 300px;
	}
	#anchors h1 {
		padding-top: 60px;
		padding-bottom: 20px;
	}
	#anchors li {
		margin-top: 10px;
	}
	#item1 {
		padding-top: 50px;
	}
	#item1 .back-top {
		background-size: 150% auto;
		padding-top: 264px;
		margin-top: 60px;
	}
	#item1 .back-bottom {
		margin-bottom: 130px;
	}
	#item1 .img:not(.last) {
		margin-bottom: 20px;
	}
	#item1 .img img {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	#item2 .back {
		background-size: 760px auto;
		margin-top: 60px;
		height: 270px;
	}
	#item3 {
		padding-top: 20px;
	}
	#item3 .back {
		background-position: 75% 0;
		background-size: 1000px auto;
		margin-top: 50px;
		height: 400px;
	}
	#contacts {
		padding-bottom: 30px;
	}
	#contacts h1 {
		font-size: 41px;
		height: 76px;
		line-height: 17px;
		margin-bottom: 34px;
	}
	#contacts p {
		font-size: 17px;
		line-height: 40px;
	}
	#contacts .button {
		margin-top: 30px;
		padding-bottom: 35px;
	}
	#contacts .top {
		bottom: 0;
		left: 0;
		right: 0;
	}
	#headings p.sub {
		padding-top: 50px;
	}
	#headings h1 {
		padding-bottom: 30px;
		padding-top: 30px;
		font-size: 30px;
		line-height: 36px
	}
	#headings .border-menu {
		margin-bottom: 10px;
	}
	#headings .text .item {
		width: auto;
		margin: 0 0 20px;
	}
	#headings .text {
		margin-bottom: 30px;
	}
	.border-menu {
		border-bottom: none;
		margin-bottom: 10px;
	}
	.border-menu li, .border-menu li:first-child, .border-menu li:last-child {
		margin-bottom: 17px;
		border-right: none;
		padding-left: 15px;
		padding-right: 15px;
	}
	#picture, #picture2 {
		height: 300px;
		background-size: 1000px auto !important;
	}
	#walton {
		padding-bottom: 80px;
		padding-top: 80px;
	}
	#walton img {
		max-width: 85%;
	}
	#brandbook {
		background: #0077c1;
	}
	#brandbook img {
		display: block;
	}
	#brandbook img.all {
		display: none;
	}
	#brandbook img.folder, #brandbook img.letter {
		margin-top: 40px;
		width: 45%;
	}
	#brandbook img.folder {
		float: left;
	}
	#brandbook img.letter {
		float: right;
	}
	#brandbook img.card1, #brandbook img.card2 {
		width: 45%;
	}
	#brandbook img.card1 {
		clear: both;
		float: left;
		margin-left: 2%;
	}
	#brandbook img.card2 {
		float: right;
		margin-right: 2%;
	}
	#colors {
		padding-bottom: 60px;
		padding-top: 70px;
	}
	#colors .item {
		margin: 0 4%;
		width: 41%;
		max-width: 190px;
	}
	#images .img1, #images .img2 {
		background-size: 700px auto;
		height: 210px;
	}
	#images .img2 {
		margin-top: 7px;
	}
	#character {
		padding-top: 50px;
	}
	#character .img {
		padding-top: 10px;
		padding-bottom: 60px;
	}
	#character .img img {
		margin-left: -19%;
		max-width: 144%;
	}
	#cocowell-link {
		height: 300px;
		background-size: 1300px auto;
		background-position: center bottom;
	}
	#webpage {
		padding-top: 50px;
	}	
	#cocowell-back {
		background-position: center bottom;
		background-size: 1000px auto;
		height: 1042px;
	}
	#planes {
		background-size: 900px auto;
		margin-top: 40px;
	}
	#plates {
		background-size: 760px auto !important;
		height: 320px !important;
		margin-bottom: 0;
		margin-top: 50px;
	}
	#webpage img:not(:last-child) {
		margin-bottom: 25px;
	}
	#picture2 {
		margin-top: 50px;
	}
	#form {
		margin: 30px auto 40px;
	}
	#form button {
		margin: 10px auto auto;
		padding: 0 50px;
	}
	#map {
		height: 400px;
	}
	#numbers {
		margin-top: 0;
	}
	#numbers p {
		font-size: 20px;
		margin-bottom: 35px;
	}
	#numbers p span {
		font-size: 95px;
		margin-bottom: -40px;
	}
	#description {
		margin-bottom: 40px;
		margin-top: 30px;
	}
	#description p {
		margin-left: 0;
	}
	#description p.sub {
		float: none; 
		margin-bottom: 20px;
	}
	#description p.sub:after {
		left: 0; right: auto;
	}
	#service .time {
		margin-top: 35px;
	}
	#service h1 {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 10px;
		margin-top: 25px;
	}
	#service button {
		margin-bottom: 45px;
		margin-top: 30px;
	}
}
@media screen and (max-width: 420px) {
	#colors {
		padding-bottom: 10px;
		padding-top: 50px;
	}
	#colors .item {
		margin-bottom: 20px;
		width: auto;
	}
	#images .img1 {
		background-size: 200% auto;
		height: auto;
	}
	#images .img1 img {
		width: 200%;
		max-width: none;
	}
	#images .img2 {
		display: none;
	}
	#images img {
		display: inline;
	}	
	#stand {
		background-size: 700px auto;
		margin-left: -14px;
	}
	#stand img.all {
		width: 700px;
	}
	#cocowell-back {
		background-size: 450px auto;
		height: 1000px;
	}
	#service:before {
		height: 240px;
		background-size: 1100px auto;
		background-position: -50px -70px;
	}
}
@media screen and (max-width: 400px) {
	.bx-wrapper .bx-controls-direction a {
		margin-top: 0 !important;
		top: auto !important;
		bottom: 19px;
	}
	#offer .item {
		width: auto;
		display: block;
	}	
	#footer .offer {
		display: none;
	}
	#teaser {
		margin-top: 55px;
	}
	#teaser .img {
		left: -50px;
		top: -165px;
		width: 265px;
	}
	#teaser .cont {
		width: auto;
	}
	#teaser p.sub {
		padding-top: 125px;
	}
	#gallery .img {
		margin-bottom: 11px;
	}
	#gallery .img .over .project {
		height: 92px;
	}
	#gallery .img .over .project .plus {
		height: 30px; width: 30px;
		background-size: 100% auto;    
	}
	#gallery .img .over .project .name {
		margin-top: 8px;
		margin-bottom: 4px;
	}
	#footer .logo {
		padding-top: 20px;
	}
	#footer .social {
		padding-top: 25px;
	}
	#footer .phone {
		padding-top: 27px;
	}
	#footer .callback {
		padding-bottom: 30px;
		padding-top: 20px;
	}
	#copyright p {
		padding-bottom: 11px;
		padding-top: 14px;
	}
}